#navbar{
    
}
#sidemenu{
    transition: all 0.5s ease-in-out;
}
#SideUl{
   
}
#SideUl li{
    @apply p-1 rounded-md
}
#SideUl li button{
    @apply  hover:bg-cyan-500 active:bg-cyan-700
}

#liInsideUl{
    
}
#liInsideUl li{
    @apply border hover:bg-green-700 active:bg-green-900 h-10 text-center flex justify-center items-center mt-2
}
#liInsideUl li:nth-child(1){
    @apply mt-2
}
#menuDiv{
    background-color: rgba(0, 0, 0, 0.39);


}
#logoDiv{
    box-shadow: 0 0 10px;
}
#Ul li{
        @apply border-t  p-2 border-l-0 border-r-0 pl-5
}
#Ul li:nth-child(6){
    @apply border-b
}
#Ul li:hover{
    @apply bg-blue-400 
}
#educationUl li:active{
    @apply bg-blue-900
}
#ApplyUl{
    @apply  flex flex-col gap-3 mt-2 sm:gap-1
}
#ApplyUl li{

    @apply border p-2 hover:bg-cyan-600 rounded-md active:bg-cyan-800

}
#ApplyUl li:nth-child(1){


}

#sideUlofMD{
    @apply flex flex-col gap-3
}


#sideUlofMD li{
    box-shadow: 0 0 5px;
    @apply  max-sm:hidden sm:hidden md:block bg-cyan-300 p-2  rounded-md hover:bg-cyan-500 active:bg-cyan-700 
}
#sideUlofMDInfo li{
    box-shadow: 0 0 5px;
    @apply  bg-cyan-700 p-2 rounded-md hover:bg-cyan-500 active:bg-cyan-700 
}
